#mainbox {
  width: 1500px;
}

.periodictable {
  
}

.tableelement {
  width: 75px;
  height: 100px;
  border: solid black 1px;
  margin: 1px;
  text-align: center;
}

.atomicnumber, .boilingpoint, .atomicmass {
  margin: 0px 2px 0px 2px;
  font-size: 12px;
  font-weight: bold;
}

.atomicnumber {
  float: left;
}

.boilingpoint {
  float: right;
}

.symbol, .name {
  clear: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.name {
}

.name.long {
  font-size: 12px;
}

.name.longer {
  font-size: 11px;
}

.name.longest {
  font-size: 10px;
}

.boilingpoint.long {
  font-size: 10px;
}

/* Key Style */
.atomicnumber.key {
  font-size: 8px;
}

.boilingpoint.key {
  font-size: 8px;
}

.symbol.key {
  margin-top: 35px;
  font-weight: bold;
  font-size: 16px;
}

.name.key {
  margin-top: 10px;
  font-size: 12px;
}

.atomicmass.key {
  font-size: 8px;
}

/* Color Groups */

.am {
  background-color: red;
}

.ae {
  background-color: orange;
}

.tm {
  background-color: yellow;
}

.bm {
  background-color: green;
}

.sm {
  background-color: darkseagreen;
}

.nm {
  background-color: dodgerblue;
}

.ha {
  background-color: violet;
}

.ng {
  background-color: rebeccapurple;
}

.la {
  background-color: greenyellow;
}

.ac {
  background-color: darkgreen;
}