#mainbox {
  width: 1500px;
}

.periodictable {
  
}

.tableelement {
  width: 75px;
  height: 100px;
  margin: 1px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #d1d1d1;
}

.tableelement:hover {
  z-index: 1;
  -ms-transform: scale(2,2); /* IE 9 */
  -webkit-transform: scale(2,2); /* Safari */
  transform: scale(2,2);
  border: 1px solid black;
  box-shadow: 2px 2px 3px #111;
}

.tableelement.key {

  padding: auto;
}

.atomicnumber, .boilingpoint, .atomicmass {
  margin: 0px 2px 0px 2px;
  font-size: 12px;
  font-weight: bold;
}

.atomicnumber {
  float: left;
}

.boilingpoint {
  float: right;
}

.symbol, .name {
  clear: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.name {
}

.name.long {
  font-size: 12px;
}

.name.longer {
  font-size: 11px;
}

.name.longest {
  font-size: 10px;
}

.boilingpoint.long {
  font-size: 10px;
}

/* Key Style */
.atomicnumber.key {
  font-size: 8px;
}

.boilingpoint.key {
  font-size: 8px;
}

.symbol.key {
  margin-top: 35px;
  font-weight: bold;
  font-size: 16px;
}

.name.key {
  margin-top: 10px;
  font-size: 12px;
}

.atomicmass.key {
  font-size: 8px;
}

.guide {
  width: 100px;
  height: 50px;
  padding-top: 1px;
}

/* Color Groups */

.am {
  background-color: #E57373;
}

.ae {
  background-color: #FFB74D;
}

.tm {
  background-color: #FFE082;
}

.bm {
  background-color: #AED581;
}

.sm {
  background-color: #81C784;
}

.nm {
  background-color: #4FC3F7;
}

.ha {
  background-color: #CE93D8;
}

.ng {
  background-color: #B39DDB;
}

.la {
  background-color: #E6EE9C;
}

.ac {
  background-color: #4DB6AC;
}

/* Infobox Styling */

.infobox {
  height: 600px;
  width: 1000px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #222;
  padding: 20px;
  
  margin: 200px auto 15px;
  position: absolute;
  left: 5%;
  right: 0;
  z-index: 1;
  
  
}

.infotable {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}

.infotable td{
  margin: 5px;
  padding: 15px;
}

.infotable th {
    height: 50px;
  margin: 5px;
  padding: 15px;
  text-align: right;
  border-right: 1px solid black;
}