.periodictable {
  
}

.tableelement {
  width: 75px;
  height: 100px;
  border: solid black 1px;
  margin: 1px;
  text-align: center;
}

.atomicnumber, .boilingpoint, .atomicmass {
  margin: 0px 2px 0px 2px;
  font-size: 12px;
  font-weight: bold;
}

.atomicnumber {
  float: left;
}

.boilingpoint {
  float: right;
}

.symbol, .name {
  clear: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.name {
}

.name.long {
  font-size: 12px;
}

.name.longer {
  font-size: 10px;
}

.boilingpoint.long {
  font-size: 10px;
}